/**
	styles.css

	stylesheet for IDM CW2
*/

/* universal styles */

body * {
	font-family: 'Schoolbell', cursive;
}

.btn {
	font-family: 'Schoolbell', cursive;
	font-size: 1.75em;
}

#main {
	width: 95%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	background: #fff;
	border: 1px solid black;
	padding: 2.5%;
	border-radius: 7px;
}

#footer {
	width: 95%;
	margin: auto;
	background: #fff;
	border: 1px solid black;
	border-radius: 3px;
}

#footer p {
	margin: 3px 5px;
	font-size: 0.75em;
	text-align: center;
}

#footer * {
	font-family: arial, sans-serif;
}

@media only screen and (min-width: 320px) {
	h1 {
		margin-left: 30% !important;
	}

}

@media only screen and (min-width: 640px) {
	h1 {
		margin-left: 43% !important;
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		margin-left: 42% !important;
	}
}

@media only screen and (min-width: 640px) {
	h1 {
		margin-left: 42% !important;
	}
}


/* media query for iPhone original through 4s */
@media screen and (width: 320px) and (height: 480px){
	#main {
		min-height: 430px;
	}

}

/* media query for iPhone 5/5c/5s */
@media screen and (width: 320px) and (height: 568px) {
	#main {
		min-height: 536px;
	}
}

/* media query for iPhone 6 */
@media screen and (width: 375px) and (height: 667px) {
	#main {
		min-height: 622px;
	}
}

/* media query for 720p/1080p phones */
@media screen and (width: 360px) and (height: 640px) {
	#main {
		min-height: 590px;
	}
}

/* index.html */

header {
	text-align: center;
}

header img {
	width: 70%;
}

.abc img {
	width: 110%;
}

.one-two-three img {
	width: 110%;
}

/* submenus */

.home-button {
	position: relative;
}

img#title-mini {
	width: 100%;
	margin-bottom: 0;
}

hr.remove-margin-top {
	margin-top: 0;
}

#menu-buttons {
	width: 80%;
	text-align: center;
}

#menu-buttons img {
	width: 80%;
}

#mb-1 {
	margin-top: 3.5%;
	margin-bottom: 4.5%;
}

#mb-2 {
	margin-bottom: 3.5%;
}

/* learning areas */

.instructions-learn {
	text-align: center;
}

.instructions-learn p {
	font-size: 1.8em;
}

#learning-area {
	width: 100%;
	margin: auto;
	text-align: center;
	display: none;
}

#learn-pic {
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
}

#letter, #word {
	font-size: 1.5em;
}

#word-info {
	margin-top: 12.5%;
}

#number-info {
	margin-top: 2.5%;
}

#number-info h2 {
	font-size: 4em;
}

@media screen and (max-height: 567px) {
	#word-info {
		margin-top: 7.5%;
	}
}

/* quiz areas */

.start-btn {
	width: 80%;
	margin-top: 2%;
	margin-bottom: 3.5%;
}

#quiz-top p, #quiz-top img {
	display: inline-block;
}

#quiz-top p {
	vertical-align: top;
	font-size: 1.4em;
	font-weight: bold;
}

#quiz-pic {
	width: 50%;
}

#choose-correct {
	font-size: 1.75em;
}

#choose-answer {
	margin-top: 5px;
}

#choose-answer p {
	font-size: 2.25em;
}

#answer-chosen {
	display: none;
}

#next-question {
	font-size: 1.5em;
}

#correction {
	font-size: 1.5em;
}

#final-result {
	display: none;
}

#final-result p {
	font-size: 2em;
}

#final-result p:nth-child(2) {
	color: black;
}